.search-box-container {
  max-width: 800px;
  margin: 0 auto;
}

.search-box-heading {
  text-align: center;
  margin-bottom: 20px;
}

.search-form {
  display: grid;
  grid-template-columns: 80% 20%;
  gap: 1rem;
}

.search-form > input {
  border-radius: 14px;
  border: 1px solid #e1e1e1;
  padding: 0.75rem;
}

.search-form > button {
  cursor: pointer;
  border-radius: 14px;
  border: none;
  background-color: green;
  color: white;
  font-size: 1.025rem;
  transition: 300ms ease;
}

.search-form > button:hover {
  background-color: rgb(99, 175, 99);
}

.result {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.result-card {
  border: 0px solid #e1e1e1;
  padding: 1rem;
  box-shadow: 5px 5px 10px #e1e1e1;
  border-radius: 1rem;
}

.result-card:hover {
  outline: 1px solid darkcyan;
}

.result-card button a {
  text-decoration: none;
  color: black;
}
