.register {
  max-width: 500px;
  margin: 0 auto;
}

.form-heading {
  text-align: center;
}

.form-container > form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-container > form > label {
  font-weight: bold;
}

.form-container > form > input {
  border-radius: 14px;
  border: 1px solid #e1e1e1;
  padding: 0.75rem;
}

.form-container > form > button {
  margin-top: 1rem;
  padding: 0.75rem;
  border-radius: 14px;
  background-color: blue;
  color: white;
  border: 1px solid #e1e1e1;
  cursor: pointer;
}

.form-container > form > button:hover {
  background-color: green;
  transition: 500ms ease;
}

.status {
  background-color: green;
  color: white;
  display: block;
  padding: 0.25rem;
}

.edit-container {
  max-width: 800px;
  margin: 0 auto;
}

.edit-heading {
  text-align: center;
}

/* Header */

.header {
  box-shadow: 2px 0 5px grey;
  margin-bottom: 50px;
}
.header-container {
  margin: 0 auto;
  max-width: 70vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.header .logo {
  font-size: 0.5rem;
}

.logo > h1 > a {
  text-decoration: none;
  color: black;
}

.header-btn a {
  text-decoration: none;
  color: black;
}
